/*----Main Styles---*/
/*hexcode*/
h1 { 
	border: 2px solid green;
	background-color:#00f2ff;
	font-style: oblique;
	}
/*rgba*/
h2 {
	background-color:rgba(0, 145, 153, 1);
	opacity: 0.1;	
	}
/*hsla*/	
em {
	border: 1px solid green;
	background-color:hsla(45, 100%, 83%, 1);
	}
/*hexcode*/	
ol { background-color: #41599f;
	}	

	