/*----Main Styles---*/

body {
	  float:right;
	  width:1220px;
	  padding:10px;
	  border:5px solid blue;
	  margin:30px;
	  
	  
	}

/*hexcode*/
h1 { 
	float:left;
	width:600px;
	height:90px;
	margin:5px;
	text-align: center;
	text-shadow: 8px 8px 0 rgba(255,0,180,0.5);
	font-family: 'Cinzel', serif;
	font-weight: lighter;
	border: 2px solid green;
	background-color:#00f2ff;
	font-size: 3em;
	font-style: oblique;
	}
/*rgba*/
h2 {
	float:right;
	width:500px;
	height:90px;
	margin:5px;
	text-align:right;
	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
	letter-spacing: 28px;
	font-weight: bolder;
	font-family: 'Ceviche One', cursive;
	font-size:2.5em;
	background-color:rgba(0, 145, 153, 1);
	opacity: 3;	
	font-style: italic;
	}
p {
	float:right;
	width:400px;
	padding:30px;
	border:5px solid yellow;
	margin:30px;
	line-height: 2em;
	text-transform: capitalize
	}
h3 {
	float:left;
	font-size: 4em;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}
/*hsla*/	
em {
	border: 1px solid green;
	background-color:hsla(45, 100%, 83%, 1);
	}
/*hexcode*/	
ol.a { float:left;
	width:200px;
	padding:15px;
	border:5px solid green;
	margin:10px;
	list-style-type:circle;
	background-color: #41599f;
	}	
a:link { color: blue }
a:visited { color: purple }
a:hover { font-weight: bold }
a:active { color: lime }
a {
	float:right;
   }



	